$primary-color: rgba(255, 107, 8, 0.35);
$error-color: #e63946;
$bg-color: #f1faee;

$background: #f6f7fb;
$border-radius: 30px;

body {
  color: rgb(217, 239, 250);
}

// mobile
@media screen and (max-width: 767.98px) {
  .container {
    max-width: 320px;
    top: 255px;
    margin: 0 auto;
    padding: 0 10px;

    background: var(--main-background-color);
    box-shadow: 5px 10px 20px rgba(170, 178, 197, 0.4);
    border-radius: 30px;

    h1 {
      font-size: 10px;
      color: var(--main-text-color);
      padding-bottom: 24px;
    }

    label {
      font-size: 10px;
      line-height: 1.2%;
      padding-bottom: 12px;
      color: var(--dark-text-color);
    }

    input {
      width: 253px;
      height: 52px;
      font-size: 14px;
      line-height: 16px;

      color: var(--placeholders-text-color);
      border: none;
      border-radius: 30px;
      padding-left: 29px;
      background: var(--second-background-color);
    }

    .container_form {
      padding: 0 85px 20px;
    }

    .form-row {
      display: flex;
      flex-direction: column;
      padding-top: 50px;
    }

    button {
      color: var(--main-text-color);
      width: 125px;
      height: 44px;
      font-size: 12px;
      line-height: 1.17%;
      background: var(--second-background-color);
      cursor: pointer;
      border-radius: 16px;
      border: none;
      align-content: stretch;

      filter: drop-shadow(1px 3px 5px rgba(82, 85, 95, 0.15));

      &:hover {
        background: rgba($primary-color, 0.8);
      }
    }

    .input-error {
      border-color: $error-color;
    }

    .error {
      color: $error-color;
      font-size: 1rem;
      margin-top: 0.3rem;
    }

    .disabled-btn {
      cursor: not-allowed;
      background: rgba($primary-color, 0.8);
    }
  }
}

// tablet
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .container {
    max-width: 436px;
    padding: 0 166px;

    background: var(--main-background-color);
    box-shadow: 5px 10px 20px rgba(170, 178, 197, 0.4);
    border-radius: 30px;

    h1 {
      font-size: 10px;
      color: var(--main-text-color);
      padding-bottom: 24px;
    }

    label {
      font-size: 10px;
      line-height: 1.2%;
      padding-bottom: 12px;
      color: var(--dark-text-color);
    }

    input {
      width: 265px;
      height: 52px;
      font-size: 14px;
      line-height: 1.14%;

      color: var(--placeholders-text-color);
      border: none;
      border-radius: 30px;
      padding-left: 29px;
      background: var(--second-background-color);
    }

    .container_form {
      padding: 0 85px 20px;
    }

    .form-row {
      display: flex;
      flex-direction: column;
      padding-top: 50px;
    }

    button {
      color: var(--main-text-color);
      width: 125px;
      height: 44px;
      font-size: 12px;
      line-height: 1.17%;
      background: var(--second-background-color);
      cursor: pointer;
      border-radius: 16px;
      border: none;
      align-content: stretch;

      filter: drop-shadow(1px 3px 5px rgba(82, 85, 95, 0.15));

      &:hover {
        background: rgba($primary-color, 0.8);
      }
    }

    .input-error {
      border-color: $error-color;
    }

    .error {
      color: $error-color;
      font-size: 1rem;
      margin-top: 0.3rem;
    }

    .disabled-btn {
      cursor: not-allowed;
      background: rgba($primary-color, 0.8);
    }
  }
}

// desktop
@media screen and (min-width: 1280px) {
  .container {
    max-width: 436px;
    background: var(--main-background-color);
    box-shadow: 5px 10px 20px rgba(170, 178, 197, 0.4);
    border-radius: 30px;
    margin-left: 734px;

    h1 {
      font-size: 12px;
      color: var(--main-text-color);
      padding: 30px 0 20px 0;
    }

    label {
      font-size: 10px;
      line-height: 1.2%;
      padding-bottom: 12px;
      color: var(--dark-text-color);
      padding-bottom: 10px;
    }

    input {
      width: 265px;
      height: 52px;
      font-size: 14px;
      line-height: 1.14%;

      color: var(--placeholders-text-color);
      border: none;
      border-radius: 30px;
      padding-left: 29px;
      background: var(--second-background-color);
    }

    .container_form {
      padding: 0 85px 20px;
    }

    .form-row {
      display: flex;
      flex-direction: column;
      padding-top: 50px;
    }

    button {
      color: var(--main-text-color);
      width: 125px;
      height: 44px;
      font-size: 12px;
      line-height: 1.17%;
      background: var(--second-background-color);
      cursor: pointer;
      border-radius: 16px;
      border: none;
      align-content: stretch;

      filter: drop-shadow(1px 3px 5px rgba(82, 85, 95, 0.15));

      &:hover {
        background: rgba($primary-color, 0.8);
      }
    }

    .input-error {
      border-color: $error-color;
    }

    .error {
      color: $error-color;
      font-size: 1rem;
      margin-top: 0.3rem;
    }

    .disabled-btn {
      cursor: not-allowed;
      background: rgba($primary-color, 0.8);
    }
  }
}
